@font-face {
    font-family: 'liberation_monoregular';
    src: url('/assets/fonts/liberationmono-regular-webfont.woff2') format('woff2'),
         url('liberationmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandlight';
    src: url('/assets/fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
         url('/assets/fonts/quicksand-variablefont_wght-webfont.woff') format('woff');
    font-weight: 600pt;
    font-style: normal;
}

html,body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #212529;
    font-family: quicksandlight, monospace;
    letter-spacing: 0.057em;
    text-align: center;
    color: #d8dee9;
}

.nav {
    border: 1px solid #ccc;
    border-width: 1px 1px;
    margin: 5;
    padding: 10;
    color: #eceff4;
}

.nav a{
    padding: 10px;
}

.marquee {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    background-color:  #212529;
    filter: drop-shadow(10px 10px 0 #000000);
}

.icon {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: liberation_monoregular, monospace;
    color: #1a1d20;
    font-size: 150px;
}

@media (orientation: portrait) {

    body {
        font-size: 30px;
    }
    .nav {
        border: 5px solid #ccc;
        border-width: 5px 5px;
        margin: 20;
        padding: 30;
    }
    .nav a {
        padding: 30px;
    }
    .marquee {
        filter: drop-shadow(30px 30px 0 #000000);
    }

    .icon {
        font-size: 220px;
    }
}