/* Site-wide css file for perhapsbot.dev */

body {
  padding: 10%;

  /* Secondary font: Helvetica, sans-serif */
  font-family: monospace;
  letter-spacing: 0.057em;

  background-color: #212529;
  color: #d8dee9;
}



/* Positions */
.left {
  margin-top: 10%;
}

.right {
  margin-top: -2%;

  float: right;

  animation: fadeIn 4s;
}

.lower {
  margin-top: 10%;

  animation: fadeIn 2s;
}



/* Text and Buttons */
a {
  color: #687079;
  text-decoration: none;
}

a:hover {
  color: #9fa5af;

  transition: 0.3s;
}

p {
  animation: fadeIn 1s;
}



/* Special Classes */
.header {
  font-size: 2em;

  color: #eceff4;

  animation: fadeIn 0.5s;
}

.nav {
  width: fit-content;

  padding: 0;

  display: flex;
  justify-content: space-around;

  border: 1px solid #ccc;
  border-width: 1px 1px;
  border-radius: 3px;
}

.nav li {
  padding: 10px;

  text-align: center;

  color: #d8dee9;
  list-style: none;
}

.nav li:hover {
  color: #212529;
  background-color: #eceff4;

  transition: 0.3s;
}

.box {
  border: 1px solid #ccc;
  border-width: 1px 1px;
  border-radius: 2px;
}



@media (orientation: portrait) {

  body {
    font-size: 30px;
  }

  .right {
    padding-bottom: 10%;

    float: none;
  }

  .nav {
    margin: 20;
    padding: 30;

    justify-content: center;

    border-width: 5px;
  }

  .nav li {
    padding: 20px;
  }

  .icon {
    font-size: 50pt;
  }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

