/* Site-wide css file for perhapsbot.dev */

body {
  padding: 10%;

  font-family: monospace;
  font-size: 1.5em;
  letter-spacing: 0.1em;

  background-color: #212529;
  color: #BDBDBD;
}



/* Positions */
.left {
  margin-top: 10%;
}

.right {
  margin-top: -2%;

  float: right;

  animation: fadeIn 4s;
}

.lower {
  margin-top: 5%;

  animation: fadeIn 2s;
}



/* Text and Buttons */
a {
  color: #E0E0E0;
  text-decoration: none;
}

p {
  line-height: 2em;

  animation: fadeIn 1s;
}



/* Special Classes */
.header {
  margin-bottom: 5%;

  color: #EEEEEE;

  font-size: 2em;

  animation: fadeIn 0.5s;
}

.nav {
  width: fit-content;

  padding: 0;

  display: flex;
  justify-content: space-around;
}

.nav li {
  padding: 10px;

  text-align: center;

  list-style: none;
}

.nav li:hover {
  background-color: #EEEEEE;

  transition: 0.3s;
}

.nav li:hover a {
  color: #212529;

  transition: 0.3s;
}

.box {
  border: 2px solid #EEEEEE;
  border-radius: 4px;
}



@media (orientation: portrait) {

  body {
    font-size: 2em;
  }

  .right {
    padding-bottom: 10%;

    float: none;
  }

  .nav {
    justify-content: center;

    border-width: 5px;
  }

  .nav li {
    padding: 20px;
  }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

