/* Site-wide css file for perhapsbot.dev */

@font-face {
  font-family: 'liberation_monoregular';
  src: url('/assets/fonts/liberationmono-regular-webfont.woff2') format('woff2'),
    url('liberationmono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'quicksandlight';
  src: url('assets/fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
    url('assets/fonts/quicksand-variablefont_wght-webfont.woff') format('woff');
  font-weight: 600pt;
  font-style: normal;
}

body {
  padding: 10%;
  margin: auto;

  /* Secondary font: Helvetica, sans-serif */
  font-family: quicksandlight, monospace;
  letter-spacing: 0.057em;

  text-align: center;

  background-color: #212529;
  color: #d8dee9;
}



/* Positions */
.leftcorner {
  position: fixed;
  top: 3%;
  left: 2%;
}


/* Text and Buttons */
a {
  color: #687079;
  text-decoration: none;
}

a:hover {
  color: #9fa5af;

  transition: 0.3s;
}



/* Special Classes */

.logo {
  font-family: liberation_monoregular, monospace;
  font-size: 150px;

  color: #eceff4;
}

.nav {
  width: fit-content;

  margin: 5 auto;

  display: flex;
  justify-content: space-around;

  border: 1px solid #ccc;
  border-width: 1px 1px;
  border-radius: 2px;
}

.nav li {
  padding: 10px;

  color: #d8dee9;
  list-style: none;
}

.nav li:hover {
  color: #212529;
  background-color: #eceff4;

  transition: 0.3s;
}

.box {
  border: 1px solid #ccc;
  border-width: 1px 1px;
  border-radius: 2px;
}



@media (orientation: portrait) {

  body {
    font-size: 30px;
  }

  .nav {
    margin: 20;
    padding: 30;

    justify-content: center;

    border-width: 5px;
  }

  .nav li {
    padding: 30px;
  }

  .icon {
    font-size: 50pt;
  }
}